@using PagedList
@using PagedList.Mvc
@model IPagedList<WebApplication1.Models.Customer>

@{
    ViewBag.Title = "Customer - Index - EF6";

    var itemSliceAndTotalItem = string.Format("顯示項目：{0} ~ {1}, 共 {2} 項",
        Model.FirstItemOnPage, Model.LastItemOnPage, Model.TotalItemCount);
}

<h2>Customer - Index - EF6</h2>

<div class="row">
    <div class="col-sm-12">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }),
            PagedListRenderOptions.ClassicPlusFirstAndLast)
    </div>
</div>
<div class="row">
    <div class="col-sm-12 pagination-sm">
        共 @Model.PageCount 頁 , @itemSliceAndTotalItem
    </div>
</div>
<br />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ContactName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ContactTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Region)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().PostalCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Fax)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Region)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostalCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fax)
            </td>
        </tr>
    }

</table>
